---
http_interactions:
- request:
    method: post
    uri: https://api.agendor.com.br/v1/organizations
    body:
      encoding: UTF-8
      string: '{"nickname":"Xunda Company 3 comes xunda makers","description":"Whatever
        xundasso company","website":"www.whateverxundoers.com"}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token vikings@resultadosdigitais.com.br
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Token error="Bad token"
    body:
      encoding: UTF-8
      string: '{"statusCode":401,"error":"Unauthorized","message":"Bad token"}'
  recorded_at: Tue, 07 Jun 2016 15:10:03 GMT
recorded_with: VCR 2.5.0
