---
http_interactions:
- request:
    method: post
    uri: https://api.agendor.com.br/v1/deals
    body:
      encoding: UTF-8
      string: '{"title":"Another Whatever Deal","value":50000,"dealStageOrder":1}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token de69397c-3aff-497a-98f3-47bb2f455d14
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.agendor.com.br/v1/deals/4061332
    body:
      encoding: UTF-8
      string: '{"dealId":4061332,"organization":{"organizationId":null,"name":null},"person":{},"user":{"userId":238645,"name":"Ana
        Carolina Alves Rodrigues"},"dealStage":{"dealStageId":844041,"name":"Contato","order":1},"dealStatus":{"dealStatusId":1,"name":"Em
        andamento"},"userOwner":null,"title":"Another Whatever Deal","description":null,"startTime":"2018-01-23T00:00:00.000Z","endTime":null,"createTime":"2018-01-23T15:53:51.000Z","ranking":null,"value":"50000.00","allowedUsers":{"userId":238645,"name":"Ana
        Carolina Alves Rodrigues"}}'
  recorded_at: Tue, 23 Jan 2018 15:53:51 GMT
recorded_with: VCR 3.0.3
