---
http_interactions:
- request:
    method: get
    uri: https://api.agendor.com.br/v1/deals?q=Whatever%20Deal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Token 8a4bc1df-d464-473d-bf76-3d3d9492de5a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      total-count:
      - '7'
    body:
      encoding: UTF-8
      string: '[{"dealId":1606328,"organization":{"organizationId":null,"name":null},"person":{},"user":null,"dealStage":{"dealStageId":null,"name":null},"dealStatus":{"dealStatusId":1,"name":"Em
        andamento"},"userOwner":null,"title":"Whatever Deal","description":null,"startTime":null,"endTime":null,"createTime":"2016-06-03T21:06:41.000Z","ranking":0,"value":"50000.00","allowedUsers":null},{"dealId":1606330,"organization":{"organizationId":null,"name":null},"person":{},"user":null,"dealStage":{"dealStageId":null,"name":null},"dealStatus":{"dealStatusId":1,"name":"Em
        andamento"},"userOwner":null,"title":"Whatever Deal","description":null,"startTime":null,"endTime":null,"createTime":"2016-06-03T21:06:44.000Z","ranking":0,"value":"50000.00","allowedUsers":null},{"dealId":1606564,"organization":{"organizationId":null,"name":null},"person":{},"user":null,"dealStage":{"dea[...]
