---
http_interactions:
- request:
    method: put
    uri: https://api.agendor.com.br/v1/deals/2536528394
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      content-type:
      - application/json
      authorization:
      - Token 8a4bc1df-d464-473d-bf76-3d3d9492de5a
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"error":"Bad Request","message":"title is required","validation":{"source":"payload","keys":["title"]}}'
  recorded_at: Thu, 09 Jun 2016 21:16:13 GMT
recorded_with: VCR 2.9.3
