---
http_interactions:
- request:
    method: put
    uri: https://api.agendor.com.br/v1/deals/1606328
    body:
      encoding: UTF-8
      string: '{"title":"Whatever Deal","description":"Eita DEAL!"}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token 8a4bc1df-d464-473d-bf76-3d3d9492de5a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dealId":1606328,"organization":{"organizationId":null,"name":null},"person":{},"user":{"userId":149921,"name":"vikings"},"dealStage":{"dealStageId":null,"name":null},"dealStatus":{"dealStatusId":1,"name":"Em
        andamento"},"userOwner":null,"title":"Whatever Deal","description":"Eita DEAL!","startTime":null,"endTime":null,"createTime":"2016-06-03T21:06:41.000Z","ranking":null,"value":"50000.00","allowedUsers":{"userId":149921,"name":"vikings"}}'
  recorded_at: Thu, 09 Jun 2016 20:34:21 GMT
recorded_with: VCR 2.9.3
