---
http_interactions:
- request:
    method: post
    uri: https://api.agendor.com.br/v1/organizations
    body:
      encoding: UTF-8
      string: '{"nickname":"Final Xundax","description":"A Xunda company","website":"www.thelast.org"}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token 8a4bc1df-d464-473d-bf76-3d3d9492de5a
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.agendor.com.br/v1/organizations/4913195
    body:
      encoding: UTF-8
      string: '{"organizationId":4913195,"customer":{"legalName":null,"logo":null,"createTime":"2016-06-07T18:18:06.000Z","reference":{},"plan":{},"userOwner":null,"phones":[{"number":null,"type":"work"},{"number":null,"type":"mobile"},{"number":null,"type":"fax"}],"emails":[null],"social":{"facebook":null,"twitter":null,"skype":null,"linkedIn":null}},"user":{"userId":149921},"phones":[{"number":null,"type":"work"},{"number":null,"type":"mobile"},{"number":null,"type":"fax"}],"emails":[null],"social":{"facebook":null,"twitter":null,"skype":null,"linkedIn":null},"address":{"postalCode":null,"country":"Brasil","state":null,"city":null,"district":null,"streetName":null,"streetNumber":null,"additionalInfo":null},"userOwner":null,"nickname":"Final
        Xundax","legalName":null,"cnpj":null,"description":"A Xunda company","website":"www.thelast.org","createTime":"2016-06-07T18:18:06.000Z","ranking":0}'
  recorded_at: Tue, 07 Jun 2016 15:18:06 GMT
recorded_with: VCR 2.5.0
