---
http_interactions:
- request:
    method: put
    uri: https://api.agendor.com.br/v1/organizations/4893917
    body:
      encoding: UTF-8
      string: '{"description":"Eita Organization!"}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token 8a4bc1df-d464-473d-bf76-3d3d9492de5a
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"organizationId":4893917,"customer":{"legalName":null,"logo":null,"createTime":"2016-06-03T23:27:10.000Z","reference":{},"plan":{},"userOwner":null,"phones":[{"number":null,"type":"work"},{"number":null,"type":"mobile"},{"number":null,"type":"fax"}],"emails":[null],"social":{"facebook":null,"twitter":null,"skype":null,"linkedIn":null}},"user":{"userId":149921},"phones":[{"number":null,"type":"work"},{"number":null,"type":"mobile"},{"number":null,"type":"fax"}],"emails":[null],"social":{"facebook":null,"twitter":null,"skype":null,"linkedIn":null},"address":{"postalCode":null,"country":"Brasil","state":null,"city":null,"district":null,"streetName":null,"streetNumber":null,"additionalInfo":null},"userOwner":null,"nickname":"Xunda
        Comp","legalName":null,"cnpj":null,"description":"Eita Organization!","website":"www.xundacomp.org","createTime":"2016-06-03T23:27:10.000Z","ranking":0}'
  recorded_at: Thu, 09 Jun 2016 20:33:46 GMT
recorded_with: VCR 2.9.3
