---
http_interactions:
- request:
    method: post
    uri: https://api.agendor.com.br/v1/people
    body:
      encoding: UTF-8
      string: '{"name":"Xunderson","role":"Singer","description":"Nice guy"}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token 8a4bc1df-d464-473d-bf76-3d3d9492de5a
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.agendor.com.br/v1/people/6874083
    body:
      encoding: UTF-8
      string: '{"personId":6874083,"customer":{"reference":{},"plan":{},"userOwner":null,"phones":[{"number":null,"type":"work"},{"number":null,"type":"mobile"},{"number":null,"type":"fax"}],"emails":[],"social":{}},"user":{"userId":149921,"name":"vikings"},"organization":null,"phones":[{"number":null,"type":"work"},{"number":null,"type":"mobile"},{"number":null,"type":"fax"}],"emails":[],"social":{},"address":{},"userOwner":null,"name":"Xunderson","role":"Singer","createTime":"2016-06-07T18:10:03.000Z","ranking":null,"cpf":null,"description":"Nice
        guy"}'
  recorded_at: Tue, 07 Jun 2016 15:10:03 GMT
recorded_with: VCR 2.5.0
