---
http_interactions:
- request:
    method: post
    uri: https://api.agendor.com.br/v1/people
    body:
      encoding: UTF-8
      string: '{"name":"Xunderson","role":"Singer","description":"Nice guy","phone":"48
        9999-9999"}'
    headers:
      content-type:
      - application/json
      authorization:
      - Token f437bd57-a4e6-4dc1-a9b1-5278008e6e0e
  response:
    status:
      code: 201
      message: Created
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.agendor.com.br/v1/people/14410037
    body:
      encoding: UTF-8
      string: '{"personId":14410037,"customer":{"reference":{},"plan":{},"userOwner":null,"phones":[{"number":null,"type":"work"},{"number":null,"type":"mobile"},{"number":null,"type":"fax"}],"emails":[],"social":{}},"user":{"userId":283694,"name":"Bruno"},"organization":null,"phones":[{"number":null,"type":"work"},{"number":null,"type":"mobile"},{"number":null,"type":"fax"}],"emails":[],"social":{},"address":{},"userOwner":null,"name":"Xunderson","role":"Singer","createTime":"2017-07-11T19:10:27.000Z","ranking":null,"cpf":null,"description":"Nice
        guy\nTelefone: 48 9999-9999"}'
  recorded_at: Tue, 11 Jul 2017 19:10:27 GMT
recorded_with: VCR 3.0.3
