---
http_interactions:
- request:
    method: get
    uri: https://api.agendor.com.br/v1/auth/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - Token xunda
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      www-authenticate:
      - Token error="Bad token"
    body:
      encoding: UTF-8
      string: '{"statusCode":401,"error":"Unauthorized","message":"Bad token","attributes":{"error":"Bad
        token"}}'
  recorded_at: Mon, 02 Apr 2018 15:22:51 GMT
recorded_with: VCR 3.0.3
